body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:3000px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#D9001B;
}
#u14129 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1045px;
  width:176px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#D9001B;
}
#u14129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14129_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#D9001B;
}
#u14130 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:18px;
  width:88px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#D9001B;
}
#u14130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14130_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14131 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:60px;
  width:1036px;
  height:339px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14132 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:756px;
  width:683px;
  height:163px;
  display:flex;
  transition:none;
}
#u14132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:683px;
  height:163px;
}
#u14132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14133 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:423px;
  width:1500px;
  height:290px;
  display:flex;
  transition:none;
}
#u14133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:290px;
}
#u14133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14134 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:727px;
  width:300px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14135 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1077px;
  width:3000px;
  height:784px;
  display:flex;
  transition:none;
}
#u14135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3000px;
  height:784px;
}
#u14135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14136 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:727px;
  width:300px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14137 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:742px;
  width:423px;
  height:241px;
  display:flex;
  transition:none;
}
#u14137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:241px;
}
#u14137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14138 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1920px;
  width:1467px;
  height:323px;
  display:flex;
  transition:none;
}
#u14138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1467px;
  height:323px;
}
#u14138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14139 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1001px;
  width:300px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
