body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-13px;
  width:1963px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u22431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1963px;
  height:820px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.10196078431372549));
  transition:none;
}
#u22431 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:9px;
  width:1963px;
  height:820px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22431 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:1px;
  background:inherit;
  background-color:rgba(235, 237, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22432 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:197px;
  width:1900px;
  height:1px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22432 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1868px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22433 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:164px;
  width:1868px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22433 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22433_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
  background:inherit;
  background-color:rgba(240, 245, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22434 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:539px;
  width:83px;
  height:83px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22434 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 251, 230, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(250, 173, 20, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22435 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:539px;
  width:83px;
  height:83px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22435 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22435_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
  background:inherit;
  background-color:rgba(246, 255, 237, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22436 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:539px;
  width:83px;
  height:83px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22436 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#1890FF;
}
#u22437 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:65px;
  width:264px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#1890FF;
}
#u22437 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22438 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:570px;
  width:64px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22438 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22438_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22439 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:632px;
  width:112px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22439 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22440 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:570px;
  width:64px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22441 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:632px;
  width:245px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22441 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22442 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:570px;
  width:64px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22442 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22443 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:632px;
  width:112px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22443 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22444 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:539px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22444 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22445 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:560px;
  width:71px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22445 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22446 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:632px;
  width:112px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22446 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22446_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22447 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:581px;
  width:0px;
  height:0px;
  transition:none;
}
#u22447_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:143px;
  height:10px;
}
#u22447_seg1 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-10px;
  width:20px;
  height:20px;
}
#u22447_text {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22448 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:581px;
  width:0px;
  height:0px;
  transition:none;
}
#u22448_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:162px;
  height:10px;
}
#u22448_seg1 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-10px;
  width:20px;
  height:20px;
}
#u22448_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22449 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:581px;
  width:0px;
  height:0px;
  transition:none;
}
#u22449_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:172px;
  height:10px;
}
#u22449_seg1 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:-10px;
  width:20px;
  height:20px;
}
#u22449_text {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22450 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:387px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22450 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22451 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:408px;
  width:71px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22452 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:538px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22452 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22453 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:559px;
  width:71px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22453 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22454 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:538px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22454 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22455 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:559px;
  width:71px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22455 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22456 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:689px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22456 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22457 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:710px;
  width:71px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22457 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
  background:inherit;
  background-color:rgba(240, 245, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22458 {
  border-width:0px;
  position:absolute;
  left:1814px;
  top:539px;
  width:83px;
  height:83px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22458 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22459 {
  border-width:0px;
  position:absolute;
  left:1823px;
  top:570px;
  width:64px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u22459 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22460 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:539px;
  width:0px;
  height:0px;
  transition:none;
}
#u22460_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-115px;
  width:10px;
  height:115px;
}
#u22460_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-115px;
  width:158px;
  height:10px;
}
#u22460_seg2 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-120px;
  width:20px;
  height:20px;
}
#u22460_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-118px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22461 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:581px;
  width:0px;
  height:0px;
  transition:none;
}
#u22461_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:61px;
  height:10px;
}
#u22461_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-6px;
  width:10px;
  height:11px;
}
#u22461_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-6px;
  width:61px;
  height:10px;
}
#u22461_seg3 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-11px;
  width:20px;
  height:20px;
}
#u22461_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22462 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:580px;
  width:0px;
  height:0px;
  transition:none;
}
#u22462_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:137px;
  height:10px;
}
#u22462_seg1 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-10px;
  width:20px;
  height:20px;
}
#u22462_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22463 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:623px;
  width:0px;
  height:0px;
  transition:none;
}
#u22463_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:113px;
}
#u22463_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:103px;
  width:162px;
  height:10px;
}
#u22463_seg2 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:98px;
  width:20px;
  height:20px;
}
#u22463_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:100px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22464 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:731px;
  width:0px;
  height:0px;
  transition:none;
}
#u22464_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:844px;
  height:10px;
}
#u22464_seg1 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:-109px;
  width:10px;
  height:114px;
}
#u22464_seg2 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:-114px;
  width:20px;
  height:20px;
}
#u22464_text {
  border-width:0px;
  position:absolute;
  left:424px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22465 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:267px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22465 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22466 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:270px;
  width:71px;
  height:86px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22466 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22467 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:387px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22467 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22468 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:408px;
  width:71px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22469 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:387px;
  width:0px;
  height:0px;
  transition:none;
}
#u22469_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-79px;
  width:10px;
  height:79px;
}
#u22469_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-79px;
  width:184px;
  height:10px;
}
#u22469_seg2 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:-84px;
  width:20px;
  height:20px;
}
#u22469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u22470 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:430px;
  width:0px;
  height:0px;
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u22470_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u22470_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-16px;
  width:10px;
  height:21px;
}
#u22470_seg2 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-16px;
  width:77px;
  height:10px;
}
#u22470_seg3 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:-21px;
  width:20px;
  height:20px;
}
#u22470_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u22471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22471 {
  border-width:0px;
  position:absolute;
  left:1404px;
  top:267px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22471 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22472 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:288px;
  width:71px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22473 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:309px;
  width:0px;
  height:0px;
  transition:none;
}
#u22473_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:177px;
  height:10px;
}
#u22473_seg1 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-10px;
  width:20px;
  height:20px;
}
#u22473_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22474 {
  border-width:0px;
  position:absolute;
  left:1814px;
  top:268px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22474 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22475 {
  border-width:0px;
  position:absolute;
  left:1820px;
  top:289px;
  width:71px;
  height:43px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22476 {
  border-width:0px;
  position:absolute;
  left:1487px;
  top:309px;
  width:0px;
  height:0px;
  transition:none;
}
#u22476_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:168px;
  height:10px;
}
#u22476_seg1 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:-5px;
  width:10px;
  height:17px;
}
#u22476_seg2 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:2px;
  width:169px;
  height:10px;
}
#u22476_seg3 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:-3px;
  width:20px;
  height:20px;
}
#u22476_text {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22477 {
  border-width:0px;
  position:absolute;
  left:1856px;
  top:352px;
  width:0px;
  height:0px;
  transition:none;
}
#u22477_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:192px;
}
#u22477_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:172px;
  width:20px;
  height:20px;
}
#u22477_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:86px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22478 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:419px;
  width:0px;
  height:0px;
  transition:none;
}
#u22478_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:608px;
  height:10px;
}
#u22478_seg1 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:-5px;
  width:10px;
  height:125px;
}
#u22478_seg2 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:105px;
  width:20px;
  height:20px;
}
#u22478_text {
  border-width:0px;
  position:absolute;
  left:312px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22479 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:580px;
  width:0px;
  height:0px;
  transition:none;
}
#u22479_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:296px;
  height:10px;
}
#u22479_seg1 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:-5px;
  width:10px;
  height:11px;
}
#u22479_seg2 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:-4px;
  width:296px;
  height:10px;
}
#u22479_seg3 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:-9px;
  width:20px;
  height:20px;
}
#u22479_text {
  border-width:0px;
  position:absolute;
  left:241px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 196, 26, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u22480 {
  border-width:0px;
  position:absolute;
  left:1609px;
  top:267px;
  width:83px;
  height:84px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u22480 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22481 {
  border-width:0px;
  position:absolute;
  left:1615px;
  top:297px;
  width:71px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u22481 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22482 {
  border-width:0px;
  position:absolute;
  left:1799px;
  top:223px;
  width:112px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u22483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22483 {
  border-width:0px;
  position:absolute;
  left:1595px;
  top:223px;
  width:112px;
  height:36px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u22483 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u22483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
