body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:1466px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u38212 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:28px;
  width:1466px;
  height:320px;
  display:flex;
  transition:none;
}
#u38212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1466px;
  height:320px;
}
#u38212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38213 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:380px;
  width:742px;
  height:604px;
  display:flex;
  transition:none;
}
#u38213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:604px;
}
#u38213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38214 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:761px;
  width:684px;
  height:44px;
  display:flex;
  transition:none;
}
#u38214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:44px;
}
#u38214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38215 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:797px;
  width:717px;
  height:39px;
  display:flex;
  transition:none;
}
#u38215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:717px;
  height:39px;
}
#u38215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u38216 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:809px;
  width:36px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u38216 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38216_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u38217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u38217 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:380px;
  width:300px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u38217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
