body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-45px;
  width:1594px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32944 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:28px;
  width:1594px;
  height:250px;
  display:flex;
  transition:none;
}
#u32944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1594px;
  height:250px;
}
#u32944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32945 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:310px;
  width:1394px;
  height:577px;
  display:flex;
  transition:none;
}
#u32945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1394px;
  height:577px;
}
#u32945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
