body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-86px;
  width:1760px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32653 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:24px;
  width:1456px;
  height:546px;
  display:flex;
  transition:none;
}
#u32653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1456px;
  height:546px;
}
#u32653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32654 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:838px;
  width:1743px;
  height:1133px;
  display:flex;
  transition:none;
}
#u32654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1743px;
  height:1133px;
}
#u32654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32655 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:588px;
  width:512px;
  height:223px;
  display:flex;
  transition:none;
}
#u32655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:223px;
}
#u32655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32656 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:1764px;
  width:1063px;
  height:362px;
  display:flex;
  transition:none;
}
#u32656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1063px;
  height:362px;
}
#u32656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
