body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-261px;
  width:1296px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14342 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:20px;
  width:700px;
  height:816px;
  display:flex;
  transition:none;
}
#u14342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:816px;
}
#u14342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14343 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:732px;
  width:1px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14343 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14343_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u14344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:497px;
  height:58px;
  background:inherit;
  background-color:rgba(105, 219, 255, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u14344 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:767px;
  width:497px;
  height:58px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14344 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14345 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:290px;
  width:300px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14345 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:197px;
  background:inherit;
  background-color:rgba(105, 219, 255, 1);
  border-radius:0px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0.2));
  transition:none;
}
#u14346 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:48px;
  width:499px;
  height:197px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14346 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14347 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:54px;
  width:252px;
  height:37px;
  display:flex;
  transition:none;
}
#u14347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
}
#u14347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u14348 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:62px;
  width:180px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u14348 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14348_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14349 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:128px;
  width:252px;
  height:37px;
  display:flex;
  transition:none;
}
#u14349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
}
#u14349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14350 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:139px;
  width:112px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14350 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14350_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14351 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:485px;
  width:252px;
  height:37px;
  display:flex;
  transition:none;
}
#u14351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:37px;
}
#u14351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u14352 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:496px;
  width:112px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u14352 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14352_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
