body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-26px;
  width:1513px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u39637 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:14px;
  width:1088px;
  height:406px;
  display:flex;
  transition:none;
}
#u39637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1088px;
  height:406px;
}
#u39637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39638 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:73px;
  width:397px;
  height:138px;
}
#u39639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:49px;
  display:flex;
  transition:none;
  text-align:left;
}
#u39639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:49px;
}
#u39639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:397px;
  height:50px;
  display:flex;
  transition:none;
  text-align:left;
}
#u39640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:50px;
}
#u39640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:397px;
  height:49px;
  display:flex;
  transition:none;
  text-align:left;
}
#u39641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:49px;
}
#u39641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
