body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-74px;
  width:1513px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u31179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:405px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31179 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:126px;
  width:1513px;
  height:405px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31180 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:159px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31180 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31181 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:143px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31182 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:229px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31182 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31183 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:213px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31184 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:292px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31185 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:276px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31186 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:355px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31187 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:339px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31188 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:159px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31189 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:143px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31190 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:159px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31190 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31191 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:143px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31192 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:229px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31193 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:213px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31194 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:229px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31194 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31195 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:213px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31196 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:285px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31197 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:269px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31198 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:285px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31198 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31199 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:269px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31200 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:355px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31200 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31201 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:339px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31202 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:355px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31203 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:339px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31204 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:418px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31204 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31205 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:402px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31206 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:418px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31206 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31207 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:402px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31208 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:418px;
  width:79px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Segoe UI Normal", "Segoe UI", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#555555;
  text-align:left;
}
#u31208 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31209 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:402px;
  width:374px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31210 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:474px;
  width:1513px;
  height:57px;
  display:flex;
  transition:none;
}
#u31210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:57px;
}
#u31210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31211 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:73px;
  width:1513px;
  height:53px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 119, 255, 0.12156862745098039);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31212 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:86px;
  width:109px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31212 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#1677FF;
}
#u31213 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:93px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#1677FF;
}
#u31213 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u31214 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:93px;
  width:119px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u31214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#000000;
}
#u31215 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:93px;
  width:162px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#000000;
}
#u31215 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.12156862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31216 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:86px;
  width:109px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31216 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.12156862745098039);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u31217 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:86px;
  width:109px;
  height:27px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31217 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u31217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u31218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u31218 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:80px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u31218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
