body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-99px;
  width:1575px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u37368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u37368 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:78px;
  width:682px;
  height:214px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u37369 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:165px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u37370 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:88px;
  width:443px;
  height:194px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u37371 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:110px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u37372 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:110px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u37373 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:220px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u37374 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:220px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u37375 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:78px;
  width:682px;
  height:214px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u37376 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:102px;
  width:655px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u37377 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:118px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u37378 {
  border-width:0px;
  position:absolute;
  left:1433px;
  top:118px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37379 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:185px;
  width:0px;
  height:0px;
  transition:none;
}
#u37379_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:41px;
  height:10px;
}
#u37379_seg1 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-10px;
  width:20px;
  height:20px;
}
#u37379_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37380 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:130px;
  width:0px;
  height:0px;
  transition:none;
}
#u37380_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:95px;
  height:10px;
}
#u37380_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-10px;
  width:20px;
  height:20px;
}
#u37380_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37381 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:240px;
  width:0px;
  height:0px;
  transition:none;
}
#u37381_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:95px;
  height:10px;
}
#u37381_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-10px;
  width:20px;
  height:20px;
}
#u37381_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37382 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:138px;
  width:0px;
  height:0px;
  transition:none;
}
#u37382_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:239px;
  height:10px;
}
#u37382_seg1 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:-10px;
  width:20px;
  height:20px;
}
#u37382_text {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u37383 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:196px;
  width:655px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u37384 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:212px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u37385 {
  border-width:0px;
  position:absolute;
  left:1433px;
  top:212px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u37385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37386 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:232px;
  width:0px;
  height:0px;
  transition:none;
}
#u37386_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:239px;
  height:10px;
}
#u37386_seg1 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:-10px;
  width:20px;
  height:20px;
}
#u37386_text {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37387 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:185px;
  width:0px;
  height:0px;
  transition:none;
}
#u37387_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:10px;
  height:5px;
}
#u37387_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:216px;
  height:10px;
}
#u37387_seg2 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:-10px;
  width:20px;
  height:20px;
}
#u37387_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
