body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:1672px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u39645 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:28px;
  width:1672px;
  height:218px;
  display:flex;
  transition:none;
}
#u39645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1672px;
  height:218px;
}
#u39645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u39646 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:268px;
  width:252px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u39646 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39646_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
